<h2 align="center" id="title">Manage Hotel Details</h2>
<form class="cenetForm">
  <mat-form-field class="mat-form-field">
    <input align="top" matInput="answer" placeholder="Enter Hotel ID">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Name">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Type">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Discription">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel District">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Town">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Package Price">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Facilities 01">
    <br>
    <input matInput="answer" placeholder="Enter Hotel Facilities 02">
    <br>
    <input matInput="answer" placeholder="Enter Hotel Facilities 03">
    <br>
    <input matInput="answer" placeholder="Enter Hotel Facilities 04">
    <br>
    <input matInput="answer" placeholder="Enter Hotel Facilities 05">
  </mat-form-field>
  <br>
  <br>
  <button id="btnsubmit" mat-raised-button="">Submit Details</button>
</form>


