<div class="header">
  <h1 id="titleMain">CYELON TRAVELLS</h1>
  <h3>Travel Arround Sri Lanka with us..Join now for joyful & safe Travel</h3>
  <h4>Register for more details</h4>
  <button class="mat-raised-button">Resigter</button>
</div>

<div class="navbar">
  <a href="#" routerLink="homepage">Home</a>
  <a href="#">Places</a>
  <a href="#">Hotels </a>
  <a href="#">Resturant </a>
  <a href="#">Guides </a>
  <a href="#">Transport Services </a>
  <a href="#" class="right">Admin Panel</a>
</div>

<div class="row">
  <div class="side">
    <h2>About Us</h2>
    <h5>Photo of Sri Lanka Map</h5>
    <div class="srilanka" style="height:200px; width: 50"></div>
    <p>We try to give true information about places to visit in sri Lanka.also tried to give other facilities through this site</p>
    <h3>More Details</h3>
    <p>Login with your own account</p>
    <div class="sigiriya" style="height:300px; width: 100"></div><br>
    <div class="cultural" style="height:300px; width: 100"></div><br>
    <div class="maligawa" style="height:300px; width: 100"></div>
  </div>
  <div class="main">
    <h2>Join now for joyful & safe Travel</h2>
    <button class="mat-raised-button">LOGIN</button>
    <br>
    <div class="srilanka1" style="height:400px;">Image</div>
    <h2>About Sri Lanka</h2>
    <p>
      Sri Lanka lies 10 degrees North of the Equator and South East of India, separated from it by the Gulf of Mannar,
      Palk’s Bay and Palk Strait, which at its narrowest point, Rameswaram in India and the Jaffna Peninsula, is less
      than 80 km wide. The sea crossing between Rameswaram in India, and Mannar Island, off the North-West coast of Sri
      Lanka, is only around 32km.<br>

      There is evidence of a natural land bridge connecting Sri Lanka with India at this point, and indeed this vanished
      causeway, only a few meters below sea level, is still known as Adam’s Bridge. This close proximity to the
      subcontinent has meant that Sri Lanka’s history and ecology have always been exposed to strong influences from its
      larger neighbour.
    </p>
    <br>
    <div class="nature" style="height:200px;">Image</div>
    <h2>Land Climate</h2>
    <p>
      Only 640km North of the equator, Sri Lanka’s tropical climate shows little seasonal variation in temperature.
      Around the coasts, temperatures hover between 26 C and 28 C, with a mean temperature in the capital of 27.5C inland,
      however, average temperatures are very much cooler. From May to September, the South-West monsoon deposits heavy
      rain on the South-West coasts, from Colombo to Galle, and also raise heavy seas which make swimming and diving
      unattractive. The worst intensity of the monsoon is from November to February, but this will have little impact
      on most visitors, as the main resort areas and visitor attractions are concentrated in the South and the central
      hills. Local thunderstorms can occur at any time of year, and while these are often intense they do not usually
      last more than a few hours.
      <br>
      In the lowlands the climate is typically tropical with an average temperature of 27 C in Colombo. In the higher
      elevations it can be quite cool with temperatures going down to 16 C at an altitude of nearly 2,000 meters. Bright,
      sunny warm days are the rule and are common even during the height of the monsoon - climatically Sri Lanka has no
      off season. The South-West monsoon brings rain mainly from May to July to the Western, Southern and Central regions
      of the island, while the North-East monsoon rain occurs in the Northern and Eastern regions in December and January.


    </p>
  </div>
</div>
