<body ng-app="MyApp" class="main">
<title>dashboard</title>
<mat-toolbar color="primary" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <mat-toolbar-row>
    <span>Travelling Information System</span>
    <span class="span-spacer"></span>

    <ul class="mat-tab-nav-bar">
      <button mat-button>Transport</button>
      <button mat-button>Guide</button>
      <button mat-button>Hotels</button>
      <button mat-button>Places</button>
      <button mat-button>About</button>
      <button mat-button>Home</button>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <mat-label align="center" id="lblSideBar">Admin Dashboard</mat-label>
  <mat-card-subtitle>
    <div class="tab" ng-controller="TabControlController">
      <button mat-raised-button="" id="btnManagePlace" routerLink="new-place">Manage Places</button>
      <!--<button class="tablinks" onclick="openTab(event, 'Environments')" ng-click="../src/app/new-place/new-place.component.html">EManage Places</button>-->
      <!--<li><a routerLink="new-place">Manage Places</a></li>-->
    </div>
    <br>
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>
      <button mat-raised-button="" routerLink="new-hotel">Manage Hotels</button>
    </div>
    <br>
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>
      <button mat-raised-button="">Manage Resturant</button>
    </div>
    <br>
  </mat-card-subtitle>

  <mat-card-subtitle>
    <div>
      <button mat-raised-button="">Manage Guides</button>
    </div>
    <br>
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>
      <button mat-raised-button="">Manage Transport</button>
    </div>
    <br>
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>
      <button mat-raised-button="">Manage Acounts</button>
    </div>
    <br>
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>
      <button mat-raised-button="">Manage Advertiesment</button>
    </div>
    <br>
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>
      <button mat-raised-button="">Manage Feedback</button>
    </div>
    <br>
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>
      <button mat-raised-button="">Manage Settings</button>
    </div>
    <br>
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>
      <button mat-raised-button="">Log out</button>
    </div>
    <br>
  </mat-card-subtitle>
  <div  class="col-md-9 border container"  id="content"></div>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="../../../js/ButtonController.js"></script>
</div>
</body>



