/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url(~@angular/material/prebuilt-themes/indigo-pink.css);

.example-icon{
  padding: 0 14px;
}

.example-spacer{
  flex: 1 1 auto;
}

.mat-raised-button{
  font-family: "Droid Sans Mono";
  font-style: normal;
  font-size: 15px;
  background-color: lightblue;
  color: black;
  height: 10px 0px;
  width: 350px;
}

.mat-button{
  float: right;
}

.mat-tab-nav-bar{
  margin-right:25px;
  width:100%;
}

.cenetForm {
  left: 70%;
  top: 70%;
  margin-left: -25%;
  position: absolute;
  margin-top: -25%;
}

.userPhoto{
  height: 200px;
  width: 200px;
}
.mat-card{
  float: bottom;
}
.icon {
  display: inline-block;
  width: 300px;
  height: 300px;

}
#btnsubmit{
  alignment: center;
  height: 15px 0px;
  width: 500px;
}

#title{
  font-size: 25px;
  font-style: inherit;
  font-family: "Noto Sans CJK JP DemiLight";
  text-align-all: center;
}

#lblSideBar{
  font-family: "Noto Sans CJK JP DemiLight";
  font-size: 20px;
  font-style: unset;
  color: dodgerblue;
}




