<h2 align="center" id="title">Manage Hotel Details</h2>
<form class="cenetForm">
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Name">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Type">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Discription">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel District">
    <br>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput="answer" placeholder="Enter Hotel Town">
    <br>
  </mat-form-field>
  <br>
  <button id="btnsubmit" mat-raised-button="">Submit Details</button>
</form>


