.mat-tab-nav-bar{
  margin-right:25px;
  width:100%;
}

.cenetForm {
  left: 70%;
  top: 70%;
  margin-left: -25%;
  position: absolute;
  margin-top: -25%;
}

.userPhoto{
  height: 200px;
  width: 200px;
}
.mat-card{
  float: bottom;
}

#btnsubmit{
  alignment: center;
  height: 15px 0px;
  width: 150px;
  font-family: "Droid Sans Mono";
  font-style: normal;
  background: cornflowerblue;
  right: 30%;
}

#btnModify{
  alignment: center;
  height: 15px 0px;
  font-family: "Droid Sans Mono";
  font-style: normal;
  width: 150px;
  background: lightgreen;
  right: 20%;
}

#btnRemove {
  alignment: center;
  font-family: "Droid Sans Mono";
  font-style: normal;
  height: 15px 0px;
  width: 150px;
  background: firebrick;
  right: 10%;
}

