<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="mat-card">

  <p id="title" align="center">Manage Places Details</p>
  <div align="center">
    <mat-form-field align="center" class="mat-form-field">
      <input id ="searchField" align="top" matInput="answer" placeholder="Enter Place ID">
      <br>
    </mat-form-field>
    <button id="btnSearch" mat-raised-button="">Search Details</button>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Name">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Type">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Discription">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place District">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Town">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Ticket Price">
    </mat-form-field>
    <br>
    <br>
    <button id="btnsubmit" mat-raised-button="">Reset Details</button>
    <button id="btnCancel" mat-raised-button="">Cancel Reset</button>
  </div>
</mat-card>





