<h2 align="center" id="title">Manage Place Details</h2>
  <form class="cenetForm">
    <mat-form-field class="mat-form-field">
      <input align="top" matInput="answer" placeholder="Enter Place ID">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Name">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Type">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Discription">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place District">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Town">
      <br>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput="answer" placeholder="Enter Place Ticket Price">
    </mat-form-field>
    <br>
    <br>
    <button id="btnsubmit" mat-raised-button="">Submit Details</button>
  </form>

