<!--The content below is only a placeholder and can be replaced.-->
<!--<mat-card-content class="content">-->
  <!--<mat-card class="mat-card">-->

    <!--<label id="title">Manage Places Details</label>-->
    <!--<mat-card-subtitle>-->
      <!--<label class="icon"></label>-->
      <!--<br>-->
    <!--</mat-card-subtitle>-->
    <!--<mat-card-subtitle>-->
      <!--<button mat-raised-button="">New Place</button>-->
      <!--<br>-->
    <!--</mat-card-subtitle>-->
    <!--<mat-card-subtitle>-->
      <!--<button mat-raised-button="">Search Place</button>-->
      <!--<br>-->
    <!--</mat-card-subtitle>-->
    <!--<mat-card-subtitle>-->
      <!--<button mat-raised-button="">Edit Place</button>-->
      <!--<br>-->
    <!--</mat-card-subtitle>-->
    <!--<mat-card-subtitle>-->
      <!--<button mat-raised-button="">View Places</button>-->
      <!--<br>-->
    <!--</mat-card-subtitle>-->

    <form class="cenetForm">
      <mat-form-field class="mat-form-field">
        <input align="top" matInput="answer" placeholder="Enter Place ID">
        <br>
      </mat-form-field>
      <button id="btnSearch" mat-raised-button="">Search Details</button>
      <br>
      <mat-form-field>
        <input matInput="answer" placeholder="Enter Place Name">
        <br>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput="answer" placeholder="Enter Place Type">
        <br>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput="answer" placeholder="Enter Place Discription">
        <br>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput="answer" placeholder="Enter Place District">
        <br>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput="answer" placeholder="Enter Place Town">
        <br>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput="answer" placeholder="Enter Place Ticket Price">
      </mat-form-field>
      <br>
      <br>
      <button id="btnsubmit" mat-raised-button="">Reset Details</button>
      <button id="btnCancel" mat-raised-button="">Cancel Reset</button>

    </form>





